In [2]:
A=[1,2,3,4]
total=sum(A)
print(total)

10

In [5]:
A=[1,2,3,4]
max(A)

4

In [6]:
A=[1,2,3,4]
min(A)

1

In [7]:
A=[1,2,3,4]
if A==[]:
    print("the list is emty")
else:
    print("the list is not empty")

the list is not empty

In [9]:
A=[1,2,3,4]
B=A.copy()
B.append(4)
print(A)
print(B)

[1, 2, 3, 4]
[1, 2, 3, 4, 4]

In [15]:
A=[1,2,3,4]
print(A.index(1))
print(A.index(2))
print(A.index(3))
print(A.index(4))

0
1
2
3

In [16]:
A=[1,2,3,4]
print(A[0])

1

In [37]:
A=[1,2,3,4]
B=[1,3,4]
c=A+B
print(c)
print(c.count(1))
print(c.count(2))
print(c.count(3))
print(c.count(4))

[1, 2, 3, 4, 1, 3, 4]
2
1
2
2

In [23]:
A=[1,2,3,4]
for num in A:
    if(num%2)==0:
        print("even")
    else:
        print("odd")

odd
even
odd
even

In [29]:
A=[1,2]
B=[3,4]
c=A+B
print(c)

[1, 2, 3, 4]

In [32]:
A=[1,2,3,4]
A.extend([5,6,7])
print(A)

[1, 2, 3, 4, 5, 6, 7]

In [40]:
A="1 23 45 67"
B=A.
print(B)

['1', '23', '45', '67']

In [ ]:
A=[1,2,3,4]
b='-'